<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="holaMundoBean" class="org.certificatic.spring.core.practica2.bean.HolaMundo">
		<property name="mensaje" value="Mi mensaje c:" />
	</bean>

	<bean id="holaMundoBean2" 
		class="org.certificatic.spring.core.practica2.bean.HolaMundo">
		<constructor-arg>
			<value>Otro de mis mensajes</value>
		</constructor-arg>
	</bean>

</beans>
